<!-- First Controller -->

<div class="row">

  <div class="span6" ng-controller="SimpleForm">
    
    <div class="well">
      <fieldset>
        <legend>Input:</legend>
        <input type="text" ng-model="data.text" placeholder="Enter text here">
      </fieldset>
    </div>
  
    <fieldset>
      <legend>Result:</legend>
      <h1>{{reverseMessage(data.text)}}</h1>
    </fieldset>

  </div>

  <div class="span3">
    <h6>DESCRIPTION:</h6>
    <p>
      A simple form linked to a controller which reverses the input text
    </p>
    <h6>TODOS:</h6>
    <ul class="no-bullet">
      <li>
        add validation
      </li>
    </ul>
  </div>

</div>
